.productsTable{
    width: 600px;
    margin: 10px;
}
h2{
    margin-left: 10px;
}
.navLinks{
    margin-top:10px;
    margin-left: 10px;
}
.popUp{
    background: #ddd;
    border: 3px solid #ccc;
    position: absolute;
    left: 0;
    top: 0 ;
    z-index: 1000;
    cursor: pointer;
    display: none;
    border-radius: 5px;
}
#formWrapper{
    padding: 10px 20px 20px 40px;
}
#createGood{
    margin-top:10px;
    margin-left: 10px;
}
.errorFormField span{
    color: red;
    font-size: 12px;
    margin-left: 30px;
}
.errorFormField{
    display: none;
    margin-top: 5px;
}